extends layout

block content
  section.hero.is-primary.is-medium.is-bold
    .hero-body
      .container.has-text-centered
        h1.title What league do you want to join, #{user.name}?
        table
            each league in leagues
                tr#employee_list_item    
                    td #{league.name}
