extends layout

block content
  section.hero.is-primary.is-medium.is-bold
    .hero-body
      .container.has-text-centered
        h1.title What league do you want to join, #{user.name}?
    .column
        each league in leagues 
            .card 
            header.card-header
              p.card-header-title=league.name
              .card-content
                .content
                  p.title Budget
                  p=league.budget
                  p.title Sub Points
                  p=league.subpoints
              footer.card-footer
                a.card-footer-item(href=`/leagues/join/` + league.name) Join
    br
