//- extends layout

//- block content 
//-   section.section
//-     .container
//-       h1.title You are attempting to join #{league_name}
//-       .columns
//-         .column.is-half.is-offset-one-quarter
//-           form(action='/leagues/join' method='POST')
//-             .field
//-               label(for='password').label League Pin
//-                 p.control.has-icons-left.has-icons-right
//-                   input.input(type='password', name='password' placeholder='Pin')
//-             .control 
//-               button.button.is-primary(type='submit') Join League
//-           br